.footer {
    @include y-padding($spacer);
    margin-top: $spacer;
    background-color: darken($color-primary, 30%);

    &__block {
        @extend .container;

        &--center {
            text-align: center;
        }
    }

    &__social {
        @extend .col-sm-6;
        text-align: left;

        a {
            @include link-color(lighten($color-primary, 10%));
            @include x-margin(1rem);
        }
        .social-sharing {
            @extend .row;
        }

        @include for-mobile {
            text-align: center;
        }
    }

    &__copyright {
        @extend .col-sm-6;
        text-align: right;

        @include for-mobile {
            text-align: center;
        }
    }

}