@mixin header-section {
    @extend .col-sm-4;
    height: $header-section-height;

    @include for-mobile {
        height: $header-section-height / 2;
    }
}

.header {

    // header topbar
    &__topbar {
        @extend .container-fluid;
        @include y-padding($gutter);
        background: $color-primary;

        &__cart {
            @extend .col-sm-6, .col-sm-offset-6;
            padding: 0;
            text-align: right;

            a {
                @include link-color(lighten($color-primary, 50%));
            }
        }
    }

    // header logo
    &__logo {
        @include header-section;

        @include for-mobile {
            text-align: center;
        }

        h1 {
            width: 100%;
            margin: 0;
        }
    }

    // header nav
    &__nav {
        @include header-section;
        text-align: center;

        &__menu {
            @extend .align-middle;
            width: 100%;

            .site-nav {
                padding: 0;
                list-style: none;
            }
            .site-nav > li {
                @include x-padding($gutter);
                display: inline-block;
            }
        }
    }

    // header search
    &__search {
        @include header-section;
        text-align: right;

        &__field {
            height: $fld-height;
        }
    }

}