.login-main {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;

    &__panel {
        @extend .align-middle;
        right: 10%;
        width: 40%;
        max-width: 40rem;
        padding: $spacer;
        background: rgba(#fff, 0.8);
        text-align: center;

        @include for-mobile {
            right: 0;
            left: 0;
            width: 100%;
        }

        &__header {
            .site-logo {
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }

    &__footer {
        position: absolute;
        width: 100%;
        bottom: $gutter;
        color: #fff;
        text-align: center;
    }
}