/*
Error: Undefined variable: "$color-body-text".
        on line 1 of /home/jim/Documents/Jim/Projects/Testing/shopify-theme-testing/src/styles/global/blank-states.scss

1: $color-blankstate: rgba($color-body-text, 0.35);
2: $color-blankstate-border: rgba($color-body-text, 0.2);
3: $color-blankstate-background: rgba($color-body-text, 0.1);
4: 
5: .placeholder-svg {
6:   display: block;

Backtrace:
/home/jim/Documents/Jim/Projects/Testing/shopify-theme-testing/src/styles/global/blank-states.scss:1
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/script/tree/variable.rb:49:in `_perform'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/script/tree/node.rb:58:in `perform'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:173:in `perform_arg'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:124:in `block in _perform'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:123:in `each'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:123:in `each_with_index'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:123:in `each'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:123:in `map'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:123:in `_perform'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/script/tree/node.rb:58:in `perform'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:471:in `visit_variable'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:391:in `run'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/usr/share/koala/rubygems/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/usr/share/koala/rubygems/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
/usr/share/koala/bin/sass:18:in `load'
/usr/share/koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$color-body-text\".\A         on line 1 of /home/jim/Documents/Jim/Projects/Testing/shopify-theme-testing/src/styles/global/blank-states.scss\A \A 1: $color-blankstate: rgba($color-body-text, 0.35);\A 2: $color-blankstate-border: rgba($color-body-text, 0.2);\A 3: $color-blankstate-background: rgba($color-body-text, 0.1);\A 4: \A 5: .placeholder-svg {\A 6:   display: block;"; }
