@mixin as-table($width: 100%, $height: 100%) {
    display: table;
    width: $width;
    height: $height;
}

@mixin as-table-cell($valign: middle) {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: $valign;
}