// hover for text in changing color
@mixin link-color($color: $color-dark) {
	color: $color;

	&:hover {
		color: darken($color, 30%);
	}
}

// hover with shadow effect
@mixin content-float($shadow: $color-dark) {
    box-shadow: 0px 0px 0px 0px rgba($shadow, 0.1);
    transition: -webkit-transform 300ms, box-shadow 300ms, opacity 300ms;
    transform: translate3d(0,0,0);

    &:hover {
        box-shadow: 0 1.2rem 1.2rem rgba($shadow, 0.2);
        transform: translateY(-0.5rem);
    }
}