@mixin for-mobile-xs {
    @media (max-width: $screen-xxs-max) {
        @content;
    }
}

@mixin for-mobile {
    @media (max-width: $screen-xs-max) {
        @content;
    }
}

@mixin for-mobile-tablet {
    @media (max-width: $screen-sm-max) {
        @content;
    }
}

@mixin for-tablet {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        @content;
    }
}

@mixin for-tablet-desktop {
    @media (min-width: $screen-sm-min) {
        @content;
    }
}

@mixin for-desktop {
    @media (min-width: $screen-md-min) {
        @content;
    }
}

@mixin for-large-desktop {
    @media (min-width: $screen-lg-min) {
        @content;
    }
}

@mixin not-for-mobile {
    @media (min-width: $screen-sm-min) {
        @content;
    }
}

@mixin not-for-large-desktop {
    @media (max-width: $screen-md-max) {
        @content;
    }
}