// latest approach
@mixin y-margin($value) {
    margin-top: $value;
    margin-bottom: $value;
}

@mixin x-margin($value) {
    margin-left: $value;
    margin-right: $value;
}

@mixin y-padding($value) {
    padding-top: $value;
    padding-bottom: $value;
}

@mixin x-padding($value) {
    padding-left: $value;
    padding-right: $value;
}

// still working but will deprecate
@mixin vertical-margin($value) {
    margin-top: $value;
    margin-bottom: $value;
}

@mixin side-margin($value) {
    margin-left: $value;
    margin-right: $value;
}

@mixin vertical-padding($value) {
    padding-top: $value;
    padding-bottom: $value;
}

@mixin side-padding($value) {
    padding-left: $value;
    padding-right: $value;
}