<div id="hero-carousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner hero-carousel__block" role="listbox">

  {% for hero in section.blocks %}
    {% if forloop.first == true %}
      <div class="hero-carousel__item item active">
    {% else %}
      <div class="hero-carousel__item item">
    {% endif %}
      <img src="{{ hero.settings.image | img_url: "original" }}" alt="{{ hero.settings.title | escape }}" class="hero-carousel__image">
      <div class="carousel-caption">
        {{ hero.settings.title | escape }}
      </div>
    </div>
  {% endfor %}

  </div>

</div>


{% schema %}
  {
    "name": "hero",
    "class": "hero-carousel",
    "settings": [
      {
        "id": "hero-title",
        "type": "text",
        "label": "Hero",
        "default": "Hero"
      }
    ],
    "blocks": [
      {
        "name": "image",
        "type": "image_picker",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          }
        ]
      }
    ]
  }
{% endschema %}