<div class="login-main" style="background-image: url('{{ section.settings.background | img_url: "original" }}')">

  <div class="container">
  
    <div class="login-main__panel">

      <div id="Login">
        <div class="login-main__panel__header">
          <h1 itemscope itemtype="http://schema.org/Organization">
            <div class="site-logo">
              {{ shop.name }}
            </div>
          </h1>
        </div>
        <div class="login-main__panel__body">
          <h4>{{ 'general.password_page.login_form_heading' | t }}</h4>
          {% form 'storefront_password' %}
            {% if form.errors %}
              <p class="text-danger">Incorrect password. Try using <i>seephu</i></p>
            {% endif %}
            <div class="form-group {% if form.errors %} has-error {% endif %}">
              <input type="password"
                name="password"
                id="Password"
                class="form-control"
                placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
              <button type="submit" name="commit" class="btn btn-primary btn-block">
                {{ 'general.password_page.login_form_submit' | t }}
              </button>
              <!-- password to access is miecru. This is just a testing page -->
            </div>
          {% endform %}
          <p>{{ 'general.password_page.admin_link_html' | t }}</p>
        </div>
      </div>

    </div><!-- end login-main__panel -->
    
  </div><!-- end container -->

  <footer class="login-main__footer">
      {% capture shopify_link %}
        <a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">
          {% include 'icon-shopify-logo' %}
          <span class="icon-fallback-text">Shopify</span>
        </a>
      {% endcapture %}
      {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify_link }}
    </footer>

</div><!-- end login-main -->

{% schema %}
  {
    "name": "Login",
    "class": "login",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title",
        "default": "Store Login"
      },
      {
        "id": "background",
        "type": "image_picker",
        "label": "Background"
      }
    ]
  }
{% endschema %}