.align {
    position: absolute;

    // center align for x-axis only
    &-center {
        @extend .align;
        transform: translateX(-50%);
        left: 50%;
    }

    // top with modifiers for x & y
    &-top {
        @extend .align;
        top: 0;

        &--left {
            @extend .align-top;
            left: 0;
        }
        &--right {
            @extend .align-top;
            right: 0;
        }
    }

    // middle with modifiers for x & y
    &-middle {
        @extend .align;
        transform: translateY(-50%);
        top: 50%;

        &--left {
            @extend .align-middle;
            left: 0;
        }
        &--right {
            @extend .align-middle;
            right: 0;
        }
    }

    // bottom with modifiers for x & y
    &-bottom {
        @extend .align;
        bottom: 0;

        &--left {
            @extend .align-bottom;
            left: 0;
        }
        &--right {
            @extend .align-bottom;
            right: 0;
        }
    }
}