$color-list: (
    primary: $color-primary,
    success: $color-success,
    info: $color-info,
    warning: $color-warning,
    danger: $color-danger,
    default: #ffffff
);

// contextual color
@each $name, $color in $color-list {
    .text-#{$name} {
        color: #{$color} !important;
    }
}

// contextual background color
@each $name, $color in $color-list {
    .bg-#{$name} {
        background-color: #{$color} !important;
        color: #ffffff;
    }
}