$spacing: ( 
	m: margin, 
	p: padding
);

@each $key, $value in $spacing {
    @each $direction in top, right, bottom, left {
        @for $x from 0 through 10 {
            .#{ $direction }-#{ $key }--#{ $x } {
                #{ $value }-#{ $direction }: if($x > 0, ($x * $gutter), 0);
            }
        }
    }
}
