// colors
$color-primary:             #26B7B7;
$color-gray:                #808080;
$color-dark:                #111111;
$color-text:                #333333;
$color-success:             #5cb85c;
$color-info:                #5bc0de;
$color-warning:             #f0ad4e;
$color-danger:              #a94442;
$color-placeholder:         lighten($color-gray, 25%);


// sizes
$gutter:                    1rem;
$gutter-2:                  $gutter * 2;
$gutter-3:                  $gutter * 3;
$spacer:                    4rem;

// buttons
$btn-padding:               1rem;

// form
$fld-height:                3.4rem;

// header
$header-section-height:     10rem;

// screen breakpoints
$screen-xxs-max:            400px;
$screen-sm-min:             768px;
$screen-xs-max:             ($screen-sm-min - 1);
$screen-md-min:             992px;
$screen-sm-max:             ($screen-md-min - 1);
$screen-lg-min:             1200px;
$screen-md-max:             ($screen-lg-min - 1);